body {
  background: linear-gradient(149.33deg, #1c2732 14.92%, #011ef4 239.54%);
}

.bg-stars {
  position: relative;
  width: 100%;
  height: 100%;
}

.bg-stars::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  background-image: url(./assets/image/about/stars-bg.png);
  background-position: center;
  /* opacity: 0.5; */
}
