body {
  background-color: #14203f;
}
.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content {
  box-shadow: none !important;
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
  margin-left: -500px;
}

.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
  margin-left: 500px;
}

.react-3d-carousel .slider-container .slider-right {
  /* left: 85% !important; */
  border: none !important;
}
.react-3d-carousel .slider-container .slider-left {
  /* right: 85% !important; */
  border: none !important;

}

@media screen and (max-width:768px){
  .star-image {
    height: 80vh;
    object-fit: cover;
  }
  .slider-container .slider-content .slider-single.proactive {
    margin-left: 200px;
  }
  .slider-container .slider-content .slider-single.preactive {
    margin-left: -200px;
  }
  
}
.react-3d-carousel .slider-container .slider-left div {
  border: none !important;
}
.react-3d-carousel .slider-container .slider-right div {
  border: none !important;
}
.ReactGridGallery_tile {
  background: none !important;
  margin: 0 10px !important;
}
.ReactGridGallery_tile-viewport img {
  object-fit: cover;
  margin-left: 0 !important;
}

.ReactGridGallery_tile-viewport {
  border-radius: 20px;
}

.fa {
    font-size: 30px !important;
    font-weight: 100 !important;
}
.fa.fa-arrow-right::before{
    content: '\f054';
}

.fa.fa-arrow-left::before{
    content: '\f053';
    
}


.section-testi{
  background: linear-gradient(196.12deg, #14203F 16.77%, #011EF4 248.81%);
}


.section-gallery {
  background: linear-gradient(149.33deg, #1C2732 14.92%, #011EF4 239.54%);
}

.gallery-container {
  position: relative;
  width: 670px;
  height: 300px;
  background-color: aqua;
}
.gallery-container2 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: aqua;
  
}

@media (max-width: 768px){
  .gallery-container {
    width: 570px;
    height: 200px;
  }
  .gallery-container2 {
    width: 200px;
    height: 200px;
  }
}
.gallery{
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}
/* footer bagian send message */

.section-footer{
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.4) 3.29%, rgba(255, 255, 255, 0) 91.29%);
/* opacity: 0.7; */
}


.button-message {
  background: linear-gradient(149.77deg, #051DF4 -42.69%, #FA27D5 102.65%), #051DF4;
}

/* @keyframes flickerAnimation {
  100% { 
    transform: translateX(-66.6666%);  
  }

} */

.animate-translateX {
  
  -webkit-animation: flickerAnimation 10s linear infinite;
  -moz-animation: flickerAnimation 1s infinite;
  -o-animation: flickerAnimation 1s infinite;
   animation: flickerAnimation 10s infinite;
}