body {
  transition: all 1s;
}

.bg-stars {
  position: relative;
  width: 100%;
  height: 100%;
  /* background: linear-gradient(149.33deg, #1c2732 14.92%, #011ef4 239.54%); */
}

.bg-stars::before {
  content: "";
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  background: linear-gradient(149.33deg, #1c2732 14.92%, #011ef4 239.54%);
}
.bg-stars::after {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  background-image: url(./assets/image/about/stars-bg.png);
  background-position: center;
  opacity: 0.3;
}
.react-3d-carousel
  .slider-container
  .slider-content
  .slider-single
  .slider-single-content {
  box-shadow: none !important;
}
.slider-container .slider-content .slider-single.preactive {
  z-index: 1;
  margin-left: -500px;
}

.slider-container .slider-content .slider-single.proactive {
  z-index: 1;
  margin-left: 500px;
}

.react-3d-carousel .slider-container .slider-right {
  /* left: 85% !important; */
  border: none !important;
}
.react-3d-carousel .slider-container .slider-left {
  /* right: 85% !important; */
  border: none !important;
}

@media screen and (max-width: 768px) {
  .star-image {
    height: 80vh;
    object-fit: cover;
  }
  .slider-container .slider-content .slider-single.proactive {
    margin-left: 200px;
  }
  .slider-container .slider-content .slider-single.preactive {
    margin-left: -200px;
  }
}
.react-3d-carousel .slider-container .slider-left div {
  border: none !important;
}
.react-3d-carousel .slider-container .slider-right div {
  border: none !important;
}
.ReactGridGallery_tile {
  background: none !important;
  margin: 0 10px !important;
}
.ReactGridGallery_tile-viewport img {
  object-fit: cover;
  margin-left: 0 !important;
}

.ReactGridGallery_tile-viewport {
  border-radius: 20px;
}

.fa {
  font-size: 30px !important;
  font-weight: 100 !important;
}
.fa.fa-arrow-right::before {
  content: "\f054";
}

.fa.fa-arrow-left::before {
  content: "\f053";
}

/* .section-testi {
  background: linear-gradient(196.12deg, #14203f 16.77%, #011ef4 248.81%);
}

.section-gallery {
  background: linear-gradient(149.33deg, #1c2732 14.92%, #011ef4 239.54%);
} */

/* .gallery-container {
  position: relative;
  width: 670px;
  height: 300px;
  background-color: aqua;
}
.gallery-container2 {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: aqua;
} */
/* 
@media (max-width: 768px) {
  .gallery-container {
    width: 570px;
    height: 200px;
  }
  .gallery-container2 {
    width: 200px;
    height: 200px;
  }
} */

.gallery {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 30px;
}

/* footer bagian send message */

.section-footer {
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.4) 3.29%,
    rgba(255, 255, 255, 0) 91.29%
  );
  /* opacity: 0.7; */
}

.button-message {
  background: linear-gradient(149.77deg, #051df4 -42.69%, #fa27d5 102.65%),
    #051df4;
}

input[type="text"],
textarea[type="text"] {
  color: white;
}

.animate-translateX {
  animation: 20s scroll alternate-reverse infinite;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }

  to {
    transform: translateX(-100%);
  }
}

.photo-list {
  width: 90%;
  list-style: none;
  margin: 20px auto;
}

.photo-item {
  display: flex;
  width: 300px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.12);
  margin: 20px 0;
}

.photo-item img {
  display: flex;
  width: 100%;
  border: 4px double rgba(0, 0, 0, 0.12);
}

.btn-filter {
  margin: 10px 10px;
}

.section-about {
  position: relative;
  width: 100%;
  height: 100%;
}

.section-about::after {
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(114.96deg, #fde423 0.54%, #28efed 119.26%),
    #051df4;
  opacity: 0.5;
}

.textlarge-space {
  background: linear-gradient(
      139.67deg,
      #f7e23b 4.7%,
      rgba(255, 255, 255, 0) 122.62%
    ),
    #ff2128;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.textsmall-space {
  background: linear-gradient(114.96deg, #fde423 0.54%, #28efed 119.26%),
    #051df4;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.sec-about-services {
  position: relative;
  width: 100%;
  height: 100%;
}

.sec-about-services::after {
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(111.48deg, #f70d6c 5.39%, #2826fe 133.74%),
    #051df4;
  opacity: 0.5;
}

.sec-about-client {
  position: relative;
  width: 100%;
  height: 100%;
}
.sec-about-client::after {
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(63.58deg, #0452cd 9.83%, #00fb4f 124.29%), #051df4;
  opacity: 0.5;
}
