.servicesImage-large {
  width: 130%;
  height: 605px;
  background-color: aqua;
}

.servicesImage-small {
  width: 110%;
  height: 280px;
  background-color: aqua;
}

.service-image {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 10px;
}

.services-right {
  position: relative;
  width: 100%;
  height: 100%;
}

.services-right::after {
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 20px;

  /* Galactic Bulge */

  background: linear-gradient(135deg, #0d1632 0%, #5d27ab 100%);
  opacity: 0.5;
}

.services-left {
  position: relative;
  width: 100%;
  height: 100%;
}

.services-left::after {
  z-index: -1;
  top: 0;
  left: 0;
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: linear-gradient(111.48deg, #f70d6c 5.39%, #2826fe 133.74%),
    #051df4;
  opacity: 0.5;
  border-radius: 20px;
}

.services-img {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: aqua;
}

/* @media (max-width: 768px) {
  .gallery-container {
    width: 570px;
    height: 200px;
  }
  .gallery-container2 {
    width: 200px;
    height: 200px;
  }
} */
.container-img {
  object-fit: cover;
  background-size: cover;
  background-position: center;
  border-radius: 20px;
}

.button-services {
  transition: 0.3s;
}

.button-services:hover {
  background: linear-gradient(135deg, #0d1632 0%, #5d27ab 100%);
}
