.bg-detailWorks {
  height: 100vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.category-display {
  background: linear-gradient(
      139.67deg,
      #f7e23b 4.7%,
      rgba(255, 255, 255, 0) 122.62%
    ),
    #ff2128;
  border-radius: 30px;
}

.visited {
  background: linear-gradient(
      139.67deg,
      #f7e23b 4.7%,
      rgba(255, 255, 255, 0) 122.62%
    ),
    #ff2128;
}

.box-image {
  border-radius: 20px;
}

.bg-mobileDetail {
  height: 30vh;
  width: 100%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
a.ImageWorks {
  opacity: 1;
  /* -webkit-transition: all 250ms;
  -moz-transition: all 250ms;
  -ms-transition: all 250ms;
  -o-transition: all 250ms; */
  transition: all 250ms;
}
a.ImageWorks:hover::after {
  background: radial-gradient(
    90.94% 80.15% at 50.13% 7.12%,
    #5d27ab 0%,
    #0d1632 100%
  );
}
